package-lock.json
node_modules
node_modules/*
lib/1
lib/data/database.sq3
lib/data/database.bk
lib/data/database.bk2
lib/test.js
website/
lib/debug
lib/debug.js
lib/options.good
lib/options.debug
lib/options.bk
lib/options
